
  <div class="row">
    <div class="col-sm-4">
    <div class="form-group">
                <label>Date range:</label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" id="reservation">
                </div>
                <!-- /.input group -->
              </div>
    </div>


    <div class="col-sm-4">

    <div class="form-group">
                <label>Outreach Center</label>
                <select class="form-control select2" id="outreach" multiple="multiple" data-placeholder="Select a outreach center" style="width: 100%;">
                {% for org in organizations %}
    
       <option value="{{org.party.party_identifier}}">{{org.organization_name}}</option>
       {% endfor %}

     </select>

    
    </div>
  </div>
      <div class="col-sm-4">

    <div class="form-group">
                <label>Channel of Reporting</label>
                <select class="form-control select2" id="source" data-placeholder="Channel of Reporting" style="width: 100%;">
    <option value="-1">All</option>
       <option value="0">SMS</option>
       <option value="1">Web</option>
 

     </select>

    
    </div>
  </div>
  </div>
